/* batas Style Untuk Mengatur Background */

 @media screen and (max-width: 600px) {
 
  .navigasi {
      /* background-color: #2ba733ad; */
      background-color: #2ba733eb;
      text-align: center;
  }

  .width-50{
      width: 100%;
  }
 }