 body {
     margin: 0px;
     padding: 0px;
     overflow-x: hidden;
     background-color: #39ac4129;
      box-sizing: border-box;
 }

header{
        background-color: #58b85d;
}
 .header-top-menu {
     /* background-color: #2ba733ab; */
     background-color: #2ba733eb;
  box-shadow: -4px 2px 5px black;
 }
 .navigasi {
     /* background-color: #2ba733ad; */
     background-color: #2ba733eb;
 }
li a.nav-font{
    font-family: 'Rancho',    cursive;
}
.nav-style {
    font-family: 'Rancho', cursive;
}
.nav-style:hover {
    border-bottom: 1px dashed #ffffff;
    border-top: 1px dashed #ffffff;
}
.nav-menu.flex-grow-1 {
    margin-right: 20px;
}

.list-style {
    list-style: none;
}

 .nav-menu ul li {
     display: inline;
 }

 #date{
     border-left: 1px solid #ffffff;
 }
/* Jumbotron */
.header-jumbotron{
      background: #39ac41;
      /* background-color: #0d481199; */
}

.header-jumbotron-content{
    padding-top: 145px;
    font-size: 17px;
    font-family: cursive;
}

 /* Batas Header */

 /* Main */
 main{
     padding: 10px 50px;
 }
 .pakan{
     display: flex;
     flex-direction: column;
     /* border: 1px solid red; */
 }



.content-pakan-rumput{
   padding: 0px 50px;
   font-family: monospace;
}

.content-pakan-daun{
   padding: 0px 50px;
   font-family: monospace;
}

.content-pakan-kacang-kacangan{
   padding: 0px 50px;
   font-family: monospace;
}




/* Pencatatan Produksi */
div.pencatatan-produksi2{
     font-family: cursive;
     padding: 0px 35px;
     }

   .margin-top-content{
       margin-top: 430px;
   }
/* Batas Main */

/* ini Footer */

.footer-menu {
     background-color: #2ba733;
     font-size: 15px;
}
.footer-bottom-menu {
     background-color: #3aad41;
     font-size: 15px;
}
/* Batas Footer */

 .float-left {
     float: left;
 }

 .float-right {
     float: right;
 }

 a {
     text-decoration: none;
 }

 .flex-grow-1 {
     flex-grow: 1;
 }

 .padding-kanan-kiri-20{
     padding: 20px;
 }

 .header-section{
     padding-top: 150px;
     margin-right: -120px;
 }
/* Social Media */
.facebook-style:hover{
    background: #395794;
}
.instagram-style:hover{
    background: #ec38bc;
}
.twitter-style:hover{
    background:#1d9dec;
}
.youtube-style:hover{
    background: #f80000;
}

 /* Width */
 .width-100{
     width: 100%;
 }
 .width-95{
     width: 95%;
 }
 .width-90{
     width: 90%;
 }
 .width-85{
     width: 85%;
 }
 .width-80{
     width: 80%;
 }
 .width-70{
     width: 70%;
 }
 .width-65{
     width: 65%;
 }
 .width-60{
     width: 60%;
 }
 .width-50{
     width: 50%;
 }
 .width-40{
     width: 40%;
 }
 .width-35{
     width: 35%;
 }
 .width-30{
     width: 30%;
 }
 .width-25{
     width: 25%;
 }
 .width-20{
     width: 20%;
 }
 .width-15{
     width: 15%;
 }
 .width-10{
     width: 10%;
 }
 /* Batas Width */

 /* Style Untuk Mengatur Halaman */
 .page{
     border-radius: 10px;
 }
 .img-rounded{
     border-radius: 100%;
 }
 .page-shadow-black{
         box-shadow: 0px 1px 5px #000000b8;
 }

 .flex-row{
     display: flex;
     flex-direction: row;
 }
 .flex-column{
     display: flex;
     flex-direction: column;
 }
 .flex-center{
       display: flex;
       align-items: center;
       justify-content: center;
 }
 .flex-grow-1 {
     flex-grow: 1;
 }

 .flex-grow-2 {
     flex-grow: 2;
 }

 .list-style li span:hover{
border-bottom: 1px solid #ffffff;

 }
 .list-style li a span:hover{
border-bottom: 1px solid #ffffff;

 }
 /* Batas Style Untuk Mengatur Halaman */

/* Style Untuk Mengatur Background */
.b-green{
     background-color: #3aad41d1;
}
.b-white{
     background-color: #ffffff;
}

.text-color-white{
    color: #ffffff;
}
.text-content {
    text-align: justify;
    font-family: cursive;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}

.text-header{
    text-align: center;
    font-family: 'Rancho',cursive;
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.p-0{
    padding: 0px;
}
.p-1{
    padding: 5px;
}
.p-2{
    padding: 10px;
}
.p-3{
    padding: 15px;
}
.p-4{
    padding: 20px;
}
.p-5{
    padding: 25px;
}
.pl-0{
    padding-left: 0px;
}
.pl-1{
    padding-left: 5px;
}
.pl-2{
    padding-left: 10px;
}
.pl-3{
    padding-left: 15px;
}
.pl-4{
    padding-left: 20px;
}
.pl-5{
    padding-left: 25px;
}
.pr-0{
    padding-right: 0px;
}
.pr-1{
    padding-right: 5px;
}
.pr-2{
    padding-right: 10px;
}
.pr-3{
    padding-right: 15px;
}
.pr-4{
    padding-right: 20px;
}
.pr-5{
    padding-right: 25px;
}
.pt-0{
    padding-top: 0px;
}
.pt-1{
    padding-top: 5px;
}
.pt-2{
    padding-top: 10px;
}
.pt-3{
    padding-top: 15px;
}
.pt-4{
    padding-top: 20px;
}
.pt-5{
    padding-top: 25px;
}
.pb-0{
    padding-bottom: 0px;
}
.pb-1{
    padding-bottom: 5px;
}
.pb-2{
    padding-bottom: 10px;
}
.pb-3{
    padding-bottom: 15px;
}
.pb-4{
    padding-bottom: 20px;
}
.pb-5{
    padding-bottom: 25px;
}

.m-0 {
    margin: 0px;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 10px;
}

.m-3 {
    margin: 15px;
}

.m-4 {
    margin: 20px;
}

.m-5 {
    margin: 25px;
}

.mr-0 {
    margin-right: 0px;
}
.mr-1 {
    margin-right: 5px;
}
.mr-2 {
    margin-right: 10px;
}
.mr-3 {
    margin-right: 15px;
}
.mr-4 {
    margin-right: 20px;
}
.mr-5 {
    margin-right: 25px;
}

.ml-0 {
    margin-left: 0px;
}
.ml-1 {
    margin-left: 5px;
}
.ml-2 {
    margin-left: 10px;
}
.ml-3 {
    margin-left: 15px;
}
.ml-4 {
    margin-left: 20px;
}
.ml-5 {
    margin-left: 25px;
}

.mt-0 {
    margin-top: 0px;
}
.mt-1 {
    margin-top: 5px;
}
.mt-2 {
    margin-top: 10px;
}
.mt-3 {
    margin-top: 15px;
}
.mt-4 {
    margin-top: 20px;
}
.mt-5 {
    margin-top: 25px;
}

.mb-0 {
    margin-bottom: 0px;
}
.mb-1 {
    margin-bottom: 5px;
}
.mb-2 {
    margin-bottom: 10px;
}
.mb-3 {
    margin-bottom: 15px;
}
.mb-4 {
    margin-bottom: 20px;
}
.mb-5 {
    margin-bottom: 25px;
}

.font-size-12{
    font-size: 12px;
}
.font-size-14{
    font-size: 14px;
}
.font-size-16{
    font-size: 16px;
}
.font-size-18{
    font-size: 18px;
}
.font-size-20{
    font-size: 20px;
}
.font-size-22{
    font-size: 22px;
}
.font-size-25{
    font-size: 25px;
}
/* batas Style Untuk Mengatur Background */
 @media screen and (max-width: 600px) {
  .flex-row {
      display: flex;
      flex-direction: column;
  }
  .flex-coloum {
      display: flex;
      flex-direction: column;
  }
 
.header-jumbotron-content {
    padding-top: 0px;
    font-size: 15px;
    font-family: cursive;
}




  .navigasi {
      /* background-color: #2ba733ad; */
      background-color: #2ba733eb;
      text-align: center;
  }

  .width-50{
      width: 100%;
  }
 }