/* ini Footer */
.footer-menu {
    background-color: #2ba733;
    font-family: cursive;
}

.footer-bottom-menu {
    background-color: #3aad41;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

 /* Style Untuk hover footer-right */
.list-style{
    li{
         span:hover{
                         border-bottom: 1px solid #ffffff;
                    }
    }
}
}
/* Batas Footer */