/* ini Display  */
.display-inline {
    display: inline;
}

/* ini Flex box  */
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-colomn{
    display: flex;
    flex-direction: column;
}
.flex-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-grow-1{
    flex-grow: 1;
}

/* ini Float  */
.float-left{
    float: left;
}
.float-right{
    float: right;
}

/* Style Border  */
.border-solid-1 {
    border: 1px solid black;
}

/* ini batas width  */
@for $i from 2 through 20 {
    $kali: $i * 10;
    $bagi: $kali / 2;
    $persent: $bagi * 1%;
    .width-#{$bagi}
        {
       width: $persent;
    }
}

/* ini padding dan margin   */
@for $i from 0 to 6 {
      $nilaiPaddingMargin: $i * 5px;

    .p-#{$i} {
        padding: $nilaiPaddingMargin;
    }
    .pt-#{$i}{
        padding-top: $nilaiPaddingMargin;
    }
    .pr-#{$i}{
        padding-right: $nilaiPaddingMargin;
    }
    .pb-#{$i}{
        padding-bottom: $nilaiPaddingMargin;
    }
    .pl-#{$i}{
        padding-left: $nilaiPaddingMargin;
    }

    .m-#{$i} {
        margin: $nilaiPaddingMargin;
    }
    .mt-#{$i}{
        margin-top: $nilaiPaddingMargin;
    }
    .mr-#{$i}{
        margin-right: $nilaiPaddingMargin;
    }
    .mb-#{$i}{
        margin-bottom: $nilaiPaddingMargin;
    }
    .ml-#{$i}{
        margin-left: $nilaiPaddingMargin;
    }
}

@media screen and (min-width: 600px) and (max-width: 1000px) {

    /* ini Flex box 600-1000  */
    .flex-colomn,
    .flex-center,
    .flex-row {
        display: flex;
        flex-direction: column;
    }
    .flex-grow-1 {
        flex-grow: 1;
        width: 100%;
    }

     /* ini width-md 600-1000  */
    @for $i from 2 through 20 {
        $kali: $i * 10;
        $bagi: $kali / 2;
        $persent: $bagi * 1%;

        .width-md-#{$bagi} {
            width: $persent;
        }
    }

       /* ini padding dan margin 600-1000 */  
    @for $i from 0 to 6 {
        $nilaiPaddingMargin: $i * 5px;

        .p-md-#{$i} {
            padding: $nilaiPaddingMargin;
        }

        .pt-md-#{$i} {
            padding-top: $nilaiPaddingMargin;
        }

        .pr-md-#{$i} {
            padding-right: $nilaiPaddingMargin;
        }

        .pb-md-#{$i} {
            padding-bottom: $nilaiPaddingMargin;
        }

        .pl-md-#{$i} {
            padding-left: $nilaiPaddingMargin;
        }
    
        .m-md-#{$i} {
            margin: $nilaiPaddingMargin;
        }
        .mt-md-#{$i} {
            margin-top: $nilaiPaddingMargin;
        }
        .mr-md-#{$i} {
            margin-right: $nilaiPaddingMargin;
        }
        .mb-md-#{$i} {
            margin-bottom: $nilaiPaddingMargin;
        }

        .ml-md-#{$i} {
            margin-left: $nilaiPaddingMargin;
        }
    }
}

 @media screen and (max-width: 600px) {
    .page {
    border-radius: 0px;
}
/* ini Flex box < 600  */
.flex-colomn , 
.flex-center,
.flex-row {
    display: flex;
    flex-direction: column;
}
.flex-grow-1{
    flex-grow: 1;
    width: 100%;
}

/* ini width-sm < 600  */
    @for $i from 2 through 20 {
        $kali: $i * 10;
        $bagi: $kali / 2;
        $persent: $bagi * 1%;

        .width-sm-#{$bagi}
            {
            width: $persent;
        }
    }

    /* ini padding dan margin < 600  */
   @for $i from 0 to 6 {
       $nilaiPaddingMargin: $i * 5px;

       .p-sm-#{$i} {
           padding: $nilaiPaddingMargin;
       }
       .pt-sm-#{$i} {
           padding-top: $nilaiPaddingMargin;
       }
       .pr-sm-#{$i} {
           padding-right: $nilaiPaddingMargin;
       }
       .pb-sm-#{$i} {
           padding-bottom: $nilaiPaddingMargin;
       }
       .pl-sm-#{$i} {
           padding-left: $nilaiPaddingMargin;
       }

       .m-sm-#{$i} {
           margin: $nilaiPaddingMargin;
       }
       .mt-sm-#{$i} {
           margin-top: $nilaiPaddingMargin;
       }
       .mr-sm-#{$i} {
           margin-right: $nilaiPaddingMargin;
       }
       .mb-sm-#{$i} {
           margin-bottom: $nilaiPaddingMargin;
       }
       .ml-sm-#{$i} {
           margin-left: $nilaiPaddingMargin;
       }
   }
 }
