/* style untuk Halaman  */
.page {
    border-radius: 10px;
}
.img-rounded-100 {
    border-radius: 100%;
}
.list-style {
    list-style: none;
}
.page-shadow-black {
    box-shadow: 0px 1px 5px #000000b8;
}

 /* Style img Profile  */
.img-profile{
    height: 200px;
}

 /* Style img Pakan Hijauan   */
.img-pakan{
    height: 170px;
    width: 180px;
}

/* Style Text  */
.text-header {
    text-align: center;
    font-family: 'Rancho', cursive;
    font-size: 45px;
    margin-bottom: 0px;
    margin-top: 10px;
}
.text-sub-header {
    text-align: center;
    font-family: 'Rancho', cursive;
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.text-content {
    text-align: justify;
    font-family: cursive;
    font-size: 15px;
}

/* Code untuk Menset tabel Penyakit  */
tr.tabel-penyakit td:first {
    width: 5%;
}

tr.tabel-penyakit td:nth-child(2) {
    width: 15%;
    padding-left: 5px;
}

tr.tabel-penyakit td:nth-child(3) {
    width: 35%;
    padding-left: 5px;
}

tr.tabel-penyakit td:last-child {
    width: 45%;
    padding-left: 5px;
}

.tabel-penyakit th,
.tabel-penyakit td {
    border-bottom: 1px solid #999;
    padding-bottom: 5px;

}

@media screen and (min-width: 600px) and (max-width: 1000px) {
    /* style untuk Halaman 600 - 1000  */
    .page {
        border-radius: 0px;
    }

/* Style Text 600 - 1000  */
    .text-content {
        text-align: justify;
        font-family: cursive;
        font-size: 22px;
    }
     .text-header {
         text-align: center;
         font-family: 'Rancho', cursive;
         font-size: 40px;
         margin-bottom: 0px;
         margin-top: 10px;
     }

     /* Style img Pakan Hijauan 600 - 1000  */
     .img-pakan {
         height: 290px;
         width: 300px;
     }
}

 @media screen and (max-width: 600px) {
     /* style untuk Halaman < 600  */
     .page {
         border-radius: 0px;
     }

/* style Text < 600  */
     .text-header {
         text-align: center;
         font-family: 'Rancho', cursive;
         font-size: 40px;
         margin-bottom: 0px;
         margin-top: 10px;
     }
     .text-sub-header {
         text-align: center;
         font-family: 'Rancho', cursive;
         font-size: 30px;
         margin-bottom: 6px;
         margin-top: 10px;
     }

     /* Code untuk Menset tabel Penyakit < 600  */
    tr.tabel-penyakit td:first,
    tr.tabel-penyakit td:nth-child(2),
    tr.tabel-penyakit td:nth-child(3),
    tr.tabel-penyakit td:last-child {
        width: 0%;
    }
    .tabel-penyakit th,
    .tabel-penyakit td {
        border-bottom: 1px solid #999;
        padding-bottom: 5px;
        font-size: 12px;
    }
    }